html{
    box-sizing: border-box;
    background-color: whitesmoke;
}

h1{
    text-align: center;
    color: darkblue;
}

#board{
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 100px);
    /* justify-items: center;
    align-items: stretch; */
    gap: 5px;
    max-width: 310px;
    background-color: black;
}

.square {
    background-color: whitesmoke;
    width: 100%;
    height: 100px;
    text-align: center;
    font-size: 90px;
}